@font-face {
    font-family: Plain;
    src: url(/assets/plain-regular-webfont.ttf);
}
@font-face {
    font-family: silk-serif;
    src: url(/assets/silkserif-regularitalic-webfont.ttf);
}
@font-face {
    font-family: DM;
    src: url(/assets/DM-Sans-regular.ttf);
}
@font-face {
    font-family: Manrope;
    src: url(/assets/Manrope-VariableFont_wght.ttf)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DM;
    color: whitesmoke;
}
html, body {
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    overflow-x: hidden;
    /* background-color: #111111;
    /* display: none; */ 
}
.cursor{
    width: 3vw;
    height: 3vw;
    /* background-color: red; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    border-radius: 50%;
    border: 1px solid rgb(212, 212, 212);
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}
#loader {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: #070707;
    padding: 15vh 5vw;
    /* display: none; */
}
.line{
    /* background: red; */
    overflow: hidden;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 3vw;
}
.line1-part1{
    display: flex;
    gap: 1vw;
}
.line1-part1 h5, .line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: silk-serif;
}
.line1-part1 h5{
    width: 5.3vw;
    text-align: right;
}
.line h1, .line h2{
    font-size: 7.2vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    font-family: Plain;
}
.line h2{
    animation: beatanim infinite 2s 2s ;
}

@keyframes beatanim {
    0%{
        font-family: Plain;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 1;
    }
    48%{
        font-family: Plain;
        -webkit-text-stroke: 1px #fff;
        color: white;
        opacity: 0;
    }
    50%{
        font-family: silk-serif;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: silk-serif;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
    }
}
.loader-text {
    margin-top: 10vh;
    margin-left: 22vw;
}
.loader-text h4{
    font-weight: 500;
    line-height: 1.1;
}

/* Loader styles */

#section1{
    width: 100vw;
    min-height: 100vh;
    background-color: #151515;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
    /* background: rgba(37, 37, 37, 0.507); */
    z-index: 9;
    width: 100%;
}
.nav-icon {
    /* background: red; */
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hero-title{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.hero-title h3{
    font-size: 1.1vw;
    font-family: Plain;
    line-height: 1;
    text-transform: capitalize;
    font-weight: 500;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
.nav-links a{
    text-decoration: none;
}
.hero{
    /* background: red; */
    width: fit-content;
    text-align: left;
    margin-left: 27%;
    letter-spacing: -2px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}
/* #hero1::before{
    content: "01";
    line-height: 1;
    font-size: 4vw;
    font-family: silk-serif;
    background: red; 
    position: absolute;
    right: 105%;
    top: 10%;
} */
.hero h4{
    /* background: red; */
    font-family: silk-serif;
    font-size: 3.5vw;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    left: -15%;
    top: 10%;
}
.hero:nth-child(2){
    margin-top: 15.5vh;
}
.hero h1, .hero h3{
    font-family: Plain;
    font-size: 7.6vw;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}
.hero h3{
    font-size: 7.4vw;
    padding-bottom: .3vw;
}
.hero h3::before{
    content: "";
    opacity: 0;
    padding-left: .7vw;
}
.hero h3::after{
    content: "";
    opacity: 0;
    padding-left: .6vw;
}

.hero h2{
    font-family: Plain;
    font-size: 7.6vw;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 99;
    border-bottom: .6vw solid white;
    padding-bottom: .3vw;
    position: relative;
}
.hero h2:hover{
    -webkit-text-stroke: 1px rgb(216, 214, 214);
    color: transparent;
    text-decoration: none;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: .7s;
    font-weight: 500;
    border-bottom: .6vw solid transparent;
}
#hero3{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3.7vw;
}
#hero3 h2:first-child::after{
    content: "/";
    position: absolute;
    margin-left: .7vw;
}
#hero3 h2:hover:first-child::after{
    color: white;
    -webkit-text-stroke: 0px white;
}

/* Section1 ended */

#section2{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    padding-top: 20vh;
}

.video-container{
    width: 70vw;
    height: 70vh;
    position: relative;
    left: 29%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}
.secnd-crsr{
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    background: #FFA63D;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15%;
    left: 75%;
    z-index: 99;
}
.secnd-crsr i{
    font-size: 2vw;
}
.video-container img{
    width: 100%;
    height: 100%;
    top: 0;
    left: 10;
    object-fit: cover;
    position: absolute;
}
.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Section2 ended */

#section3{
    width: 100%;
    min-height: 100vh;
    background-color: #151515;
    position: relative;
}
#section4{
    width: 100%;
    min-height: 100vh;
    background-color: #151515;
    position: relative;
    padding: 5vh 5vw;
}
.section4-content{
    width: 72vw;
    margin-left: 28%;
}
.section4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
}
.section4-content .underline{
    width: 100%;
    height: 2px;
    background: white;
    margin: 5vh 0;
}
.section4-content>p{
    font-size: 2.4vw;
    font-family: Manrope;
    font-weight: 400;
    width: 36%;
    line-height: 1.1;
    /* letter-spacing: -1px; */
    margin-bottom: 5vmax;
}
.section4-flex{
    display: flex;
    align-items: start;
    justify-content: start;
}
.section4-flex img{
    width: 50%;
    height: 100%;
    margin-right: 2.5vw;
}
.section4-flex p{
    font-size: 1.2vw;
    width: 25%;
}
.section4-bluediv{
    width: 45vw;
    min-height: 60vh;
    background: #3F7DF4;
    padding: 4vw 3vw;
    position: relative;
    top: -25vh;
    left: 20vw;
}
.bluediv-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px solid rgb(230, 230, 230);
    padding: 2vw 0;
    gap: 2vw;
}
.bluediv-elem h4{
    font-size: 1.7vw;
    font-weight: normal;
}
.bluediv-elem p{
    width: 60%;
}